*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

header {
  padding: 0.5em;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--primary);
  font-size: xx-large;
  z-index: 2;
  box-shadow: 0 0 5px var(--primary);
}

main {
  padding: 0.5em;
  width: 90%;
  min-height: 80vh;

  margin: 0 auto;
  margin-top: 14vh;
  margin-bottom: 5vh;
  background-color: var(--background);
}

main h1 {
  font-size: xx-large;
  padding-bottom: 1em;
  text-align: center;
}

a {
  color: var(--text);
  text-decoration: none;
}

.hover-animation {
  position: relative;
  transition: all 0.3s ease-in-out;
}

.hover-animation::before {
  content: '';
  position: absolute;
  width: 110%;
  height: 2px;
  bottom: 0;
  left: -5%;
  background-color: var(--accent);
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

.hover-animation:hover::before {
  visibility: visible;
  height: 100%;
  z-index: -1;
  transform: scaleX(1);
}

a:active {
  color: inherit;
}

.shop-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--background);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  outline: 2px solid var(--secondary);
  padding: 0.5em;
  transition: all 0.3s ease-in-out;
}

.shop-item img {
  max-height: 300px;
  object-fit: contain;
  margin-bottom: 1em;
}

.ship-item-img-container {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shop-item:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  outline: 2px solid var(--primary);
}

.shop-item h2 {
  font-size: x-large;
  margin-bottom: 0.5em;
}

.shop-item-details {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}
.add-cart-btn {
  position: relative;
  background-color: var(--primary);
  color: var(--text);
  border: none;
  padding: 0.7em;
  font-size: large;
  cursor: pointer;
  outline: none;
  margin-bottom: 0.5em;
  margin-top: 0.2em;
  transition: all 0.3s ease-in-out;
  z-index: 0;
}

.add-cart-btn:hover {
  color: white;
}

.add-cart-btn:active {
  transform: scale(0.9);
}

.shop-items-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 2em;
}

.loader__container__item {
  width: 100%;
  height: 456px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
  background-color: var(--accent);
  animation: loading 1s infinite;
}

.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
  padding: 0.5em;
}

.cart-flex {
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: left;
}

.cart-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2em;
}

.price-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--accent);
  padding: 1em;
  border-radius: 15px;
  min-height: 400px;
}

.price-info button {
  background-color: var(--primary);
  color: var(--text);
  border: none;
  padding: 0.7em;
  font-size: large;
  cursor: pointer;
  outline: none;
  margin-bottom: 0.5em;
  margin-top: 0.2em;
  transition: all 0.3s ease-in-out;
  z-index: 0;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

.price-info button:hover {
  /* color: white; */
  background-color: var(--secondary);
}

.small-item-display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--background);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  outline: 2px solid var(--secondary);
  padding: 0.5em;
  transition: all 0.3s ease-in-out;
}

.small-item-display input {
  width: 50%;
  padding: 0.5em;
  margin-bottom: 0.5em;
  border: none;
  outline: 2px solid var(--secondary);
  border-radius: 15px;
}

@keyframes loading {
  0% {
    background-color: var(--accent);
  }
  50% {
    background-color: var(--secondary);
  }
  100% {
    background-color: var(--accent);
  }
}

:root {
  background-color: var(--background);
  color: var(--text);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #020e01;
    --background: #f7f8f7;
    --primary: #45f28d;
    --secondary: #f8cffc;
    --accent: #ee1192;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --text: #f2fef1;
    --background: #070807;
    --primary: #0dba55;
    --secondary: #2c0330;
    --accent: #ee1192;
  }
}
